<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true" 
      throwExceptions="true"
      internalLogLevel="Trace" 
      internalLogFile="D:\AKKI_DEV\RND\CoreNLogText\CoreNLogText\LOG\InnerLog.txt">
  <extensions>
   
  </extensions>

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${date:format=HH\:mm\:ss.fff} ${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
