@using RazorLight

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Welcome</title>
    @{ Model.EmailAddress = "bla bla bla"; }
</head>
<body>
    <p>
        Hello @Model.FirstName,
    </p>
</body>
</html>